.logo {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}


.journalEntryForm {
    flex-direction: column;
}

.date {
    display: flex;
}

.conceptsCovered {
    display: flex;
}
.journalEntry {
    display: flex;
}
.mood {
    display: flex;
}


.parentFooter {
    position: relative;
    min-height: 25vh;
}

.childOfFooter {
    bottom: 0;
    height: 2.5rem;;
    position: absolute;
    text-align: center;
    width: 100%;
}